<div class="row">
  <div class="container">
      <table class="table mt-5">
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Title</th>
          <th scope="col">Quantity</th>
        </tr>
        {{#each products}}
          <tr>
            {{#each this.productDetails}}
            <td><img style="height: 80px;,width: 50px;" src="/product-images/{{this._id}}.jpg" alt=""></td>
            <td>{{this.name}}</td>
            {{/each}}
            <td>
              <button class="btn btn-secondary mr-3">-</button>{{this.quantity}}<button class="btn btn-secondary ml-3">+</button>
            </td>
            <td><a href="" class="btn btn-danger">Remove</a></td>
          </tr>
        {{/each}}
      </table>
  </div>
</div>