<div class="row mt-5">
    <div class="container">
        <h2 class="text-center">Login</h2>
        <form action="/login" method="post">
        {{#if loginErr}}
        <p class="alert alert-danger">{{loginErr}}</p>
        {{/if}}
            <div class="form-group">
                <label for="formGroupExampleInput">E-mail</label>
                <input type="email" name="email" class="form-control" id="formGroupExampleInput"
                    placeholder="eg:email@example.com">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Password</label>
                <input type="password" name="password" class="form-control" id="formGroupExampleInput2"
                    placeholder="Password">
            </div>
            <a href="/signup">Create new account ?</a>
            <input class="btn btn-success float-right" type="submit" name="" id="" value="Login">
        </form>
    </div>
</div>