<div class="container">
    <div class="row mt-5">
        <h2 class="text-center mt-5">Order Placed</h2>
        <i class="fa-solid fa-circle-check fa-5x success-icon" style="margin-top: 10px;"></i>
        <div class="d-flex justify-content-center align-items-center gap-3 mt-4">
            <a class="btn btn-success" style="max-width: 200px;" href="/view-orders">View orders</a>
            <a class="btn btn-success" style="max-width: 200px;" href="/">Back to home</a>
        </div>
    </div>
</div>