<div class="container">
    <div class="row mt-5">
        <h2 class="text-center">Create a new Account</h2>
        <form action="/signup" method="post">
            <div class="form-group">
                <label for="formGroupExampleInput2">Name</label>
                <input type="text" name="name" class="form-control" id="formGroupExampleInput2" placeholder="Your Name">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Phone</label>
                <input type="tel" name="phone" class="form-control" id="formGroupExampleInput2"
                    placeholder="Phone Number">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput">E-mail</label>
                <input type="email" name="email" class="form-control" id="formGroupExampleInput"
                    placeholder="eg:email@example.com">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Password</label>
                <input type="password" name="password" class="form-control" id="formGroupExampleInput2"
                    placeholder="Password">
            </div>
            <div class="d-flex justify-content-between align-items-center mt-3">
                <a href="/login" class="text-decoration-none">Already have an account?</a>
                <input class="btn btn-success" type="submit" value="Signup">
            </div>
        </form>
    </div>
</div>